.index {
  h1 {
    text-transform: capitalize;
    color: #1d2777;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
    margin-top: 2rem;
    thead {
      background-color: #1d2777;
      color: white;
      height: 4rem;
    }
    th:first-child {
      border-top-left-radius: 15px;
    }
    th:last-of-type {
      border-top-right-radius: 15px;
    }
    .status {
      width: 90%;
      height: 1.4rem;
      border-radius: 10px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
    }

    th,
    td {
      vertical-align: top;
      text-align: left;
      padding: 8px;
      text-transform: capitalize;
      &.icons {
        > * {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }
    tr {
      td:last-of-type {
        span {
          background-color: #e74c3c;
          padding: 3px 5px;
          box-sizing: border-box;
          border-radius: 3px;
          font-weight: bolder;
          font-size: 0.9rem;
          color: white;
        }
      }
    }
  }
}
