.inventory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 7rem;
  width: 100%;
  box-shadow: 0 4px 2px -2px gray;
  .content {
    display: flex;
  }
  .icon {
    display: flex;
    border: 1px solid #0d1e6d;
    justify-content: center;
    align-items: center;
    height: 2.2rem;
    border-radius: 5px;
    padding: 0 10px;
  }
}
.content__Action {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0d1e6d;
  border-radius: 5px;
  padding: 0 5px;
  height: 2.2rem;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 5px;
  margin-top: 2rem;
  thead {
    background-color: #1d2777;
    color: white;
    height: 4rem;
  }
  th:first-child {
    border-top-left-radius: 15px;
  }
  th:last-of-type {
    border-top-right-radius: 15px;
  }
  .status {
    width: 90%;
    height: 1.4rem;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
  }

  th,
  td {
    vertical-align: top;
    text-align: left;
    padding: 8px;
    text-transform: capitalize;
    &.icons {
      > * {
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }
}
